/* Solusi Kompatibel Semua Versi Swiper */
:root {
  --swiper-navigation-color: #ffa500;
  --swiper-pagination-color: #ffa500;
}

.container .card-wrapper {
  margin: 0 3rem;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  display: block;
  padding: 18px;
  text-decoration: none;
  border: 2px solid transparent;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
  border-color: #ff6b35;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-list .card-link .badge {
  color: #ff6b35;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #dde4ff;
  width: fit-content;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.card-list .card-link .badge.website {
  color: #1a237e;
  background: #e8eaf6;
}

.card-list .card-link .badge.mobile {
  color: #00695c;
  background: #b2dfdb;
}

.card-list .card-link .badge.design {
  color: #6a1b9a;
  background: #f3e5f5;
}

.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #ff6b35;
  background: none;
  cursor: pointer;
  margin: 30px 0 5px;
  border: 2px solid #ff6b35;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: #ff6b35;
}
